* {
    box-sizing: border-box;
}

:root {
  --main: rgba(10, 73, 207, 0.801);
  --white: white;
  --secondary: rgba(93, 135, 212, 0.774);
  
}

header {
  padding: 25px 15px 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--main);
  color: var(--white);

}

footer {
    padding: 25px 50px 25px 0;
    background-color: var(--main);
    color: var(--white);
    width: 100%;
    display: block;
    place-content: center;
    margin-bottom: 25px;
}


main {
    background-color: var(--secondary);
    min-height: 350px;
}

h2 {
    margin: 0 10px 10px 0;
    display: flex;
    align-items: flex-start;
    min-width: 85px;
    font-weight: bolder;
    
}

p {
    color: var(--white);
}

address a {
    background-color: var(--main);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}

nav a {
    padding: 10px;
    color: var(--white);
}

a {
    color: var(--white);
}

a:hover {
    color: var(--secondary);
}

.contactme a:hover {
    background-color: var(--white);
}

.banner {
    float: left;
    padding: 15px;
}

.about-section, .project-section, .contactme  {
    display: inline;
}

.contactme a {
    margin: 20px 20px 10px 10px;
    padding: 20px 20px 10px 10px;
}

.contact-info {
  padding: 25px 25px 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.contactme h2  {
    margin-left: 15px;
}

.about-section {
  padding: 25px 15px 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.project-flex {
  padding: 25px 15px 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.default1 {
    background-image: url("../images/default1.webp");
    background-size: cover;
    background-position: center;
    min-width: 165vh;
    color: var(--main);
    padding: 9% 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 15px;
}

.default1:hover {
    background-image: url("../images/default1.webp"), linear-gradient(180deg, var(--secondary) 0%, var(--main) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-width: 165vh;
    color: var(--white);
    padding: 9% 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 15px;
}

.default2 {
    background-image: url("../images/default2.webp");
    background-size: cover;
    background-position: center;
    min-width: auto;
    color: var(--main);
    padding: 3% 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.default2:hover {
    background-image: url("../images/default2.webp"), linear-gradient(180deg, var(--secondary) 0%, var(--main) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-width: auto;
    color: var(--white);
    padding: 3% 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.default3 {
    background-image: url("../images/default3.webp");
    background-size: cover;
    background-position: center;
    min-width: auto;
    color: var(--main);
    padding: 3% 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.default3:hover {
    background-image: url("../images/default3.webp"), linear-gradient(180deg, var(--secondary) 0%, var(--main) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-width: auto;
    color: var(--white);
    padding: 3% 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

@media screen and (max-width: 922px) {

    }

@media screen and (max-width: 768px) {
    .banner {
        display: Block;
        padding: 15px;
    }
    .default1 {
        min-width: 50vh;
    }
    }   

@media screen and (max-width: 420px) {
    .default1 {
        min-width: auto;
    }
    }
    .contact-info {
        padding: 10px 10px 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 0 0;
    }
    